/*通用CSS*/
* {
    margin: 0;
    padding: 0;
    }

/*base部分*/
.base{
    margin: auto;
    width: 45vw;
    height: 45vw;
    }

/*p1部分*/
.p1 {
    width: 31%;
    height: 31%;
    float: left;
    background-color:yellow;
    margin: 1%;
    border-radius: 5%;
    }

/*备案信息*/
.down {
    font-size: 0.8em;
    font-family: 黑体;
    margin: auto;
    width:100%;
    background-color: yellow;
    float: left;
    text-align: center;
    line-height: 200%;
}
.down a:link{
    text-decoration: none;
}